{"openapi":"3.0.0","info":{"title":"Jina Reader API","version":"0.5.0+bff64bc","description":"Jina Reader API openapi document","x-logo":{"url":"/favicon.ico"}},"servers":[{"url":"https://s.jina.ai/"}],"paths":{"/{q}":{"get":{"tags":["search"],"parameters":[{"name":"url","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"preloadUrl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noServiceWorker","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"html","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"base","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x0e"}],"default":"initial","description":"- Cast to: &lt; **&quot;initial&quot; | &quot;final&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;initial&#39;"}},{"name":"pdf","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/FancyFile@0x0f"}]},{"type":"string"}],"summary":"Base64 encoded PDF.","description":"Base64 encoded PDF.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"file","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/FancyFile@0x0f"}]},{"type":"string"}],"summary":"Base64 encoded file.","description":"Base64 encoded file.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"page","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"respondWith","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/enum@0x10"}]},{"type":"string"}],"default":"content","description":"- Cast to: &lt; **&quot;content&quot; | &quot;markdown&quot; | &quot;html&quot; | &quot;text&quot; | &quot;pageshot&quot; | &quot;screenshot&quot; | &quot;vlm&quot; | &quot;readerlm-v2&quot; | &quot;frontmatter&quot; | &quot;readability&quot; | &quot;...|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;content&#39;"}},{"name":"withGeneratedAlt","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}],"description":"- Cast to: &lt; **PseudoBoolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"retainImages","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x12"}],"default":"all","description":"- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;alt&quot; | &quot;all_p&quot; | &quot;alt_p&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"}},{"name":"retainMedia","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x13"}],"default":"link","description":"- Cast to: &lt; **&quot;none&quot; | &quot;text&quot; | &quot;link&quot; | &quot;image&quot; | &quot;html&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;link&#39;"}},{"name":"preset","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x14"}],"description":"- Cast to: &lt; **&quot;reader&quot; | &quot;index&quot; | &quot;research&quot; | &quot;agent&quot; | &quot;spider&quot; | &quot;ocr&quot; | &quot;ocr+&quot; | &quot;ocr++&quot; | &quot;pdf&quot; | &quot;pdf+&quot; | &quot;pdf++&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"retainLinks","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x15"}],"default":"all","description":"- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;text&quot; | &quot;gpt-oss&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"}},{"name":"withLinksSummary","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withImagesSummary","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noCache","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"removeOverlay","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"detachInvisibles","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noGfm","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"cacheTolerance","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"targetSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"waitForSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"removeSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"keepImgDataUrl","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withIframe","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withShadowDom","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"skipCertVerification","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"setCookies","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;object|string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","oneOf":[{"description":"Can be any value - string, number, boolean, array or object.","nullable":true},{"type":"string"}]}},{"name":"exportStorageState","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"proxyUrl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"proxy","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"userAgent","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"engine","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x2a"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"injectPageScript","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"injectFrameScript","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"timeout","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt; 0 &amp;&amp; v &lt;= 180"}},{"name":"locale","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"referer","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"tokenBudget","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"assertStatusCode","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"instruction","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"jsonSchema","in":"query","schema":{"description":"Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","nullable":true}},{"name":"robotsTxt","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"doNotTrack","in":"query","schema":{"description":"Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","nullable":true}},{"name":"respondTiming","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x25"}],"description":"- Cast to: &lt; **&quot;html&quot; | &quot;visible-content&quot; | &quot;mutation-idle&quot; | &quot;resource-idle&quot; | &quot;media-idle&quot; | &quot;network-idle&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"markdownChunking","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/enum@0x26"}]},{"type":"string"}],"description":"- Cast to: &lt; **&quot;true&quot; | &quot;h1&quot; | &quot;h2&quot; | &quot;h3&quot; | &quot;h4&quot; | &quot;h5&quot; | &quot;structured&quot; | &quot;s1&quot; | &quot;s2&quot; | &quot;s3&quot; | &quot;s4&quot; | &quot;s5&quot;|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"maxTokens","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 500"}},{"name":"ext","in":"query","schema":{"summary":"Returns web pages with a specific file extension. Example: to find the Honda GX120 Owner’s manual in PDF, type “Honda GX120 ownners manual ext:pdf”.","description":"Returns web pages with a specific file extension. Example: to find the Honda GX120 Owner’s manual in PDF, type “Honda GX120 ownners manual ext:pdf”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"filetype","in":"query","schema":{"summary":"Returns web pages created in the specified file type. Example: to find a web page created in PDF format about the evaluation of age-related cognitive changes, type “evaluation of age cognitive changes filetype:pdf”.","description":"Returns web pages created in the specified file type. Example: to find a web page created in PDF format about the evaluation of age-related cognitive changes, type “evaluation of age cognitive changes filetype:pdf”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"intitle","in":"query","schema":{"summary":"Returns webpages containing the specified term in the title of the page. Example: to find pages about SEO conferences making sure the results contain 2023 in the title, type “seo conference intitle:2023”.","description":"Returns webpages containing the specified term in the title of the page. Example: to find pages about SEO conferences making sure the results contain 2023 in the title, type “seo conference intitle:2023”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"loc","in":"query","schema":{"summary":"Returns web pages written in the specified language. The language code must be in the ISO 639-1 two-letter code format. Example: to find information on visas only in Spanish, type “visas lang:es”.","description":"Returns web pages written in the specified language. The language code must be in the ISO 639-1 two-letter code format. Example: to find information on visas only in Spanish, type “visas lang:es”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"site","in":"query","schema":{"summary":"Returns web pages coming only from a specific web site. Example: to find information about Goggles only on Brave pages, type “goggles site:brave.com”.","description":"Returns web pages coming only from a specific web site. Example: to find information about Goggles only on Brave pages, type “goggles site:brave.com”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"type","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x29"}],"default":"web","description":"- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"}},{"name":"num","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"}},{"name":"count","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"}},{"name":"provider","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x2b"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"gl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"}},{"name":"hl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"}},{"name":"location","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"fallback","in":"query","schema":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"q","in":"path","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"},"required":true},{"name":"nfpr","in":"query","schema":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"Authorization","description":"Jina Token for authentication.\n\n- Member of &lt;JinaEmbeddingsAuthDTO&gt;\n\n- Authorization: Bearer {YOUR_JINA_TOKEN}","in":"header","schema":{"anyOf":[{"type":"string","format":"token"}]}},{"name":"Accept","description":"Specifies your preference for the response format.\n\nSupported formats: \n- text/event-stream\n- application/json or text/json\n- text/plain","in":"header","schema":{"type":"string"}},{"name":"X-Cache-Tolerance","description":"Sets internal cache tolerance in seconds if this header is specified with a integer.","in":"header","schema":{"type":"string"}},{"name":"X-No-Cache","description":"Ignores internal cache if this header is specified with a value.\n\nEquivalent to X-Cache-Tolerance: 0","in":"header","schema":{"type":"string"}},{"name":"X-Respond-With","description":"Specifies the (non-default) form of the crawled data you prefer.\n\nSupported formats: \n- markdown\n- html\n- text\n- pageshot\n- screenshot\n- content\n- frontmatter\n- any combination of the above\n- vlm\n- jina-ocr-v1\n- jina-ocr\n- readerlm-v2\n\n\nDefault: content\n","in":"header","schema":{"type":"string"}},{"name":"X-Wait-For-Selector","description":"Specifies a CSS selector to wait for the appearance of such an element before returning.\n\nExample: `X-Wait-For-Selector: .content-block`\n","in":"header","schema":{"type":"string"}},{"name":"X-Target-Selector","description":"Specifies a CSS selector for return target instead of the full html.\n\nImplies `X-Wait-For-Selector: (same selector)`","in":"header","schema":{"type":"string"}},{"name":"X-Remove-Selector","description":"Specifies a CSS selector to remove elements from the full html.\n\nExample `X-Remove-Selector: nav`","in":"header","schema":{"type":"string"}},{"name":"X-Keep-Img-Data-Url","description":"Keep data-url as it instead of transforming them to object-url. (Only applicable when targeting markdown format)\n\nExample `X-Keep-Img-Data-Url: true`","in":"header","schema":{"type":"string"}},{"name":"X-Proxy-Url","description":"Specifies your custom proxy if you prefer to use one.\n\nSupported protocols: \n- http\n- https\n- socks4\n- socks5\n\nFor authentication, https://user:pass@host:port","in":"header","schema":{"type":"string"}},{"name":"X-Proxy","description":"Use a proxy server provided by us.\n\nOptionally specify two-letter country code.","in":"header","schema":{"type":"string"}},{"name":"X-Robots-Txt","description":"Load and conform to the respective robot.txt on the target origin.\n\nOptionally specify a bot UA to check against.\n\n","in":"header","schema":{"type":"string"}},{"name":"DNT","description":"When set to 1, prevent the result of this request to be cached in the system.\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Set-Cookie","description":"Sets cookie(s) to the headless browser for your request. \n\nSyntax is the same with standard Set-Cookie","in":"header","schema":{"type":"string"}},{"name":"X-Export-Storage-State","description":"Export the browser storage state (cookies and per-origin localStorage) accumulated during the crawl.\n\nWhen enabled, the JSON response includes a `storageState` field whose shape mirrors the `storageState` request option, so it can be fed back into a subsequent request.\n\nRequires the browser engine and disables caching.","in":"header","schema":{"type":"string"}},{"name":"X-With-Generated-Alt","description":"Enable automatic alt-text generating for images without an meaningful alt-text.\n\nNote: Does not work when `X-Respond-With` is specified","in":"header","schema":{"type":"string"}},{"name":"X-With-Images-Summary","description":"Enable dedicated summary section for images on the page.","in":"header","schema":{"type":"string"}},{"name":"X-With-links-Summary","description":"Enable dedicated summary section for hyper links on the page.","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Links","description":"Link retention modes.\n\nSupported modes: \n- all: all links\n- none: no links\n- text: only link text\n- gpt-oss: gpt-oss link citation format `【{id}†.*】`\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Images","description":"Image retention modes.\n\nSupported modes: \n- all: all images\n- none: no images\n- alt: only alt text\n- all_p: all images and with generated alt text\n- alt_p: only alt text and with generated alt\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Media","description":"Media retention modes for video, audio, and embedded video iframes.\n\nSupported modes: \n- none: no media\n- text: plain label, e.g. `Video 1`\n- link: markdown link, e.g. `[Video 1](url)` (default)\n- image: markdown image syntax, e.g. `![Video 1](url)`\n- html: original HTML with irrelevant attributes (class, id, style, data-*, aria-*) stripped\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Preset","description":"Apply a preset configuration for common scenarios.\n\nSupported presets:\n- reader: optimized for display to human users\n- index: optimized for semantic indexing\n- research: optimized for academic/research AI agents\n- agent: optimized for day-to-day AI agents\n- spider: optimized for recursive site crawling\n\nPreset values are applied only to options not explicitly set by the caller.\n\n","in":"header","schema":{"type":"string"}},{"name":"X-With-Iframe","description":"Enable filling iframe contents into main. (violates standards)","in":"header","schema":{"type":"string"}},{"name":"X-With-Shadow-Dom","description":"Enable filling shadow dom contents into main. (violates standards)","in":"header","schema":{"type":"string"}},{"name":"X-Skip-Cert-Verification","description":"Enable skipping SSL certificate verification. (violates security best practices)","in":"header","schema":{"type":"string"}},{"name":"X-User-Agent","description":"Override User-Agent.\n\nSeveral special values: \n- browser: use the internal browser UA\n- auto: pass-through your UA if it starts with `Mozilla/5.0`, otherwise use the internal browser UA\n- inherit / pass-through: use the User-Agent from the request context if applicable\n- bot: Use a pre-defined bot User-Agent from this service\n- diversify: Use a diversified browser User-Agent\n\nOr specify your own user agent string.\n\nNote: anonymous users specifying a browser UA will have no effect and will fall back to the internal browser UA.\n\nDefault: browser","in":"header","schema":{"type":"string"}},{"name":"X-Timeout","description":"Specify timeout in seconds. Max 180.","in":"header","schema":{"type":"string"}},{"name":"X-Locale","description":"Specify browser locale for the page.","in":"header","schema":{"type":"string"}},{"name":"X-Referer","description":"Specify referer for the page.","in":"header","schema":{"type":"string"}},{"name":"X-Token-Budget","description":"Specify a budget in tokens.\n\nIf the resulting token cost exceeds the budget, the request is rejected.\n\nNote this parameter is ignored for the search endpoint.","in":"header","schema":{"type":"string"}},{"name":"X-Max-Tokens","description":"Trim the response content at a maximum number of tokens.","in":"header","schema":{"type":"string"}},{"name":"X-Assert-Status-Code","description":"Assert the HTTP status code of the crawled page. If the actual status code does not match the asserted one, the request is rejected with 422 Unprocessable Entity.","in":"header","schema":{"type":"string"}},{"name":"X-Respond-Timing","description":"Explicitly specify the respond timing. One of the following:\n\n- html: directly return unrendered HTML\n- visible-content: return immediately when any content becomes available\n- mutation-idle: wait for DOM mutations to settle and remain unchanged for at least 0.2s\n- resource-idle: wait for no additional resources that would affect page logic and content has SUCCEEDED loading in 0.5s\n- media-idle: wait for no additional resources, including media resources, has SUCCEEDED loading in 0.5s\n- network-idle: wait for full load of webpage, also known as networkidle0.\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Engine","description":"Specify the engine to use for crawling.\n\nSupported: browser, direct, cf-browser-rendering","in":"header","schema":{"type":"string"}},{"name":"X-Base","description":"Select base modes of relative URLs.\n\nSupported: initial, final","in":"header","schema":{"type":"string"}},{"name":"X-Remove-Overlay","description":"Specify whether to remove overlay elements from the page.","in":"header","schema":{"type":"string"}},{"name":"X-Detach-Invisibles","description":"Temporarily detach elements with computed `display:none` before snapshotting, then restore them.\n\nRequires the browser engine and disables caching.","in":"header","schema":{"type":"string"}},{"name":"X-Markdown-Chunking","description":"Opt-in markdown chunking.\n\nSupported values: \n- true\n- h1\n- h2\n- h3\n- h4\n- h5\n- structured\n- s1\n- s2\n- s3\n- s4\n- s5\n\nNote if you are expecting text return, the chunking is done by injecting character \\u001D\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Md-Heading-Style","description":"Heading style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: setext, atx","in":"header","schema":{"type":"string"}},{"name":"X-Md-Hr","description":"Hr text of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).","in":"header","schema":{"type":"string"}},{"name":"X-Md-Bullet-List-Marker","description":"Bullet list marker of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: -, +, *","in":"header","schema":{"type":"string"}},{"name":"X-Md-Em-Delimiter","description":"Em delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: _, *","in":"header","schema":{"type":"string"}},{"name":"X-Md-Strong-Delimiter","description":"Strong delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: **, __","in":"header","schema":{"type":"string"}},{"name":"X-Md-Link-Style","description":"Link style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: inlined, referenced, discarded","in":"header","schema":{"type":"string"}},{"name":"X-Md-Link-Reference-Style","description":"Link reference style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: full, collapsed, shortcut, discarded","in":"header","schema":{"type":"string"}},{"name":"X-Page","description":"Steer which page to return for uploaded files (PDF, DOC, XLS, PPT, etc.).\n\n1-indexed; ignored when no file/PDF is uploaded.","in":"header","schema":{"type":"string"}},{"name":"X-Preload-Url","description":"URL to preload before scraping.\n\nIgnored when no URL is provided.","in":"header","schema":{"type":"string"}},{"name":"X-No-Service-Worker","description":"Disable service workers when running the browser.\n\nUseful for bypassing service-worker-based caching or interception.","in":"header","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain; charset=utf-8":{"schema":{"type":"string"}},"application/json":{"schema":{"title":"ReaderEnvelopeWrappedArray<FormattedPageDto@0x0b>","type":"object","properties":{"code":{"type":"number","summary":"Envelope code.\n\nMirror of HTTP status code","description":"[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 200","default":200},"status":{"type":"number","summary":"Envelope status.\n\nIn extension to HTTP status code","description":"[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 20000","default":20000},"data":{"allOf":[{"$ref":"#/components/schemas/Array<FormattedPageDto@0x0b>@0x33"}],"summary":"The result payload you expect","description":"The result payload you expect\n\n- Cast to: &lt; **Array&lt;FormattedPageDto@0x0b&gt;** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;"},"meta":{"description":"The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;","nullable":true,"summary":"The metadata that the payload sometimes came with"}},"required":["code","status"],"primitive":true}},"text/event-stream":{"schema":{"allOf":[{"$ref":"#/components/schemas/OutputServerEventStream@0x34"}]}}},"headers":{}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ParamValidationError@0x35"}]}}},"headers":{}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/AuthenticationFailedError@0x36"}]},{"allOf":[{"$ref":"#/components/schemas/AuthenticationRequiredError@0x37"}]}]}}},"headers":{}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/InsufficientBalanceError@0x38"}]}}},"headers":{}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/AbuseAlleviationError@0x39"}]}}},"headers":{}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/AssertionFailureError@0x3a"}]}}},"headers":{}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/RateLimitTriggeredError@0x3b"}]}}},"headers":{}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/DownstreamServiceError@0x3c"}]}}},"headers":{}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ServiceBadAttemptError@0x3d"}]}}},"headers":{}}},"summary":"search"},"post":{"tags":["search"],"parameters":[{"name":"url","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"preloadUrl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noServiceWorker","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"html","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"base","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x0e"}],"default":"initial","description":"- Cast to: &lt; **&quot;initial&quot; | &quot;final&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;initial&#39;"}},{"name":"pdf","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/FancyFile@0x0f"}]},{"type":"string"}],"summary":"Base64 encoded PDF.","description":"Base64 encoded PDF.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"file","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/FancyFile@0x0f"}]},{"type":"string"}],"summary":"Base64 encoded file.","description":"Base64 encoded file.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"page","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"respondWith","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/enum@0x10"}]},{"type":"string"}],"default":"content","description":"- Cast to: &lt; **&quot;content&quot; | &quot;markdown&quot; | &quot;html&quot; | &quot;text&quot; | &quot;pageshot&quot; | &quot;screenshot&quot; | &quot;vlm&quot; | &quot;readerlm-v2&quot; | &quot;frontmatter&quot; | &quot;readability&quot; | &quot;...|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;content&#39;"}},{"name":"withGeneratedAlt","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}],"description":"- Cast to: &lt; **PseudoBoolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"retainImages","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x12"}],"default":"all","description":"- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;alt&quot; | &quot;all_p&quot; | &quot;alt_p&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"}},{"name":"retainMedia","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x13"}],"default":"link","description":"- Cast to: &lt; **&quot;none&quot; | &quot;text&quot; | &quot;link&quot; | &quot;image&quot; | &quot;html&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;link&#39;"}},{"name":"preset","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x14"}],"description":"- Cast to: &lt; **&quot;reader&quot; | &quot;index&quot; | &quot;research&quot; | &quot;agent&quot; | &quot;spider&quot; | &quot;ocr&quot; | &quot;ocr+&quot; | &quot;ocr++&quot; | &quot;pdf&quot; | &quot;pdf+&quot; | &quot;pdf++&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"retainLinks","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x15"}],"default":"all","description":"- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;text&quot; | &quot;gpt-oss&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"}},{"name":"withLinksSummary","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withImagesSummary","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noCache","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"removeOverlay","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"detachInvisibles","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noGfm","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"cacheTolerance","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"targetSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"waitForSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"removeSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"keepImgDataUrl","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withIframe","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withShadowDom","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"skipCertVerification","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"setCookies","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;object|string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","oneOf":[{"description":"Can be any value - string, number, boolean, array or object.","nullable":true},{"type":"string"}]}},{"name":"exportStorageState","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"proxyUrl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"proxy","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"userAgent","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"engine","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x2a"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"injectPageScript","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"injectFrameScript","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"timeout","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt; 0 &amp;&amp; v &lt;= 180"}},{"name":"locale","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"referer","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"tokenBudget","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"assertStatusCode","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"instruction","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"jsonSchema","in":"query","schema":{"description":"Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","nullable":true}},{"name":"robotsTxt","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"doNotTrack","in":"query","schema":{"description":"Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","nullable":true}},{"name":"respondTiming","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x25"}],"description":"- Cast to: &lt; **&quot;html&quot; | &quot;visible-content&quot; | &quot;mutation-idle&quot; | &quot;resource-idle&quot; | &quot;media-idle&quot; | &quot;network-idle&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"markdownChunking","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/enum@0x26"}]},{"type":"string"}],"description":"- Cast to: &lt; **&quot;true&quot; | &quot;h1&quot; | &quot;h2&quot; | &quot;h3&quot; | &quot;h4&quot; | &quot;h5&quot; | &quot;structured&quot; | &quot;s1&quot; | &quot;s2&quot; | &quot;s3&quot; | &quot;s4&quot; | &quot;s5&quot;|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"maxTokens","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 500"}},{"name":"ext","in":"query","schema":{"summary":"Returns web pages with a specific file extension. Example: to find the Honda GX120 Owner’s manual in PDF, type “Honda GX120 ownners manual ext:pdf”.","description":"Returns web pages with a specific file extension. Example: to find the Honda GX120 Owner’s manual in PDF, type “Honda GX120 ownners manual ext:pdf”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"filetype","in":"query","schema":{"summary":"Returns web pages created in the specified file type. Example: to find a web page created in PDF format about the evaluation of age-related cognitive changes, type “evaluation of age cognitive changes filetype:pdf”.","description":"Returns web pages created in the specified file type. Example: to find a web page created in PDF format about the evaluation of age-related cognitive changes, type “evaluation of age cognitive changes filetype:pdf”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"intitle","in":"query","schema":{"summary":"Returns webpages containing the specified term in the title of the page. Example: to find pages about SEO conferences making sure the results contain 2023 in the title, type “seo conference intitle:2023”.","description":"Returns webpages containing the specified term in the title of the page. Example: to find pages about SEO conferences making sure the results contain 2023 in the title, type “seo conference intitle:2023”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"loc","in":"query","schema":{"summary":"Returns web pages written in the specified language. The language code must be in the ISO 639-1 two-letter code format. Example: to find information on visas only in Spanish, type “visas lang:es”.","description":"Returns web pages written in the specified language. The language code must be in the ISO 639-1 two-letter code format. Example: to find information on visas only in Spanish, type “visas lang:es”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"site","in":"query","schema":{"summary":"Returns web pages coming only from a specific web site. Example: to find information about Goggles only on Brave pages, type “goggles site:brave.com”.","description":"Returns web pages coming only from a specific web site. Example: to find information about Goggles only on Brave pages, type “goggles site:brave.com”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"type","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x29"}],"default":"web","description":"- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"}},{"name":"num","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"}},{"name":"count","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"}},{"name":"provider","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x2b"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"gl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"}},{"name":"hl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"}},{"name":"location","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"fallback","in":"query","schema":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"q","in":"path","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"},"required":true},{"name":"nfpr","in":"query","schema":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"}},{"name":"Authorization","description":"Jina Token for authentication.\n\n- Member of &lt;JinaEmbeddingsAuthDTO&gt;\n\n- Authorization: Bearer {YOUR_JINA_TOKEN}","in":"header","schema":{"anyOf":[{"type":"string","format":"token"}]}},{"name":"Accept","description":"Specifies your preference for the response format.\n\nSupported formats: \n- text/event-stream\n- application/json or text/json\n- text/plain","in":"header","schema":{"type":"string"}},{"name":"X-Cache-Tolerance","description":"Sets internal cache tolerance in seconds if this header is specified with a integer.","in":"header","schema":{"type":"string"}},{"name":"X-No-Cache","description":"Ignores internal cache if this header is specified with a value.\n\nEquivalent to X-Cache-Tolerance: 0","in":"header","schema":{"type":"string"}},{"name":"X-Respond-With","description":"Specifies the (non-default) form of the crawled data you prefer.\n\nSupported formats: \n- markdown\n- html\n- text\n- pageshot\n- screenshot\n- content\n- frontmatter\n- any combination of the above\n- vlm\n- jina-ocr-v1\n- jina-ocr\n- readerlm-v2\n\n\nDefault: content\n","in":"header","schema":{"type":"string"}},{"name":"X-Wait-For-Selector","description":"Specifies a CSS selector to wait for the appearance of such an element before returning.\n\nExample: `X-Wait-For-Selector: .content-block`\n","in":"header","schema":{"type":"string"}},{"name":"X-Target-Selector","description":"Specifies a CSS selector for return target instead of the full html.\n\nImplies `X-Wait-For-Selector: (same selector)`","in":"header","schema":{"type":"string"}},{"name":"X-Remove-Selector","description":"Specifies a CSS selector to remove elements from the full html.\n\nExample `X-Remove-Selector: nav`","in":"header","schema":{"type":"string"}},{"name":"X-Keep-Img-Data-Url","description":"Keep data-url as it instead of transforming them to object-url. (Only applicable when targeting markdown format)\n\nExample `X-Keep-Img-Data-Url: true`","in":"header","schema":{"type":"string"}},{"name":"X-Proxy-Url","description":"Specifies your custom proxy if you prefer to use one.\n\nSupported protocols: \n- http\n- https\n- socks4\n- socks5\n\nFor authentication, https://user:pass@host:port","in":"header","schema":{"type":"string"}},{"name":"X-Proxy","description":"Use a proxy server provided by us.\n\nOptionally specify two-letter country code.","in":"header","schema":{"type":"string"}},{"name":"X-Robots-Txt","description":"Load and conform to the respective robot.txt on the target origin.\n\nOptionally specify a bot UA to check against.\n\n","in":"header","schema":{"type":"string"}},{"name":"DNT","description":"When set to 1, prevent the result of this request to be cached in the system.\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Set-Cookie","description":"Sets cookie(s) to the headless browser for your request. \n\nSyntax is the same with standard Set-Cookie","in":"header","schema":{"type":"string"}},{"name":"X-Export-Storage-State","description":"Export the browser storage state (cookies and per-origin localStorage) accumulated during the crawl.\n\nWhen enabled, the JSON response includes a `storageState` field whose shape mirrors the `storageState` request option, so it can be fed back into a subsequent request.\n\nRequires the browser engine and disables caching.","in":"header","schema":{"type":"string"}},{"name":"X-With-Generated-Alt","description":"Enable automatic alt-text generating for images without an meaningful alt-text.\n\nNote: Does not work when `X-Respond-With` is specified","in":"header","schema":{"type":"string"}},{"name":"X-With-Images-Summary","description":"Enable dedicated summary section for images on the page.","in":"header","schema":{"type":"string"}},{"name":"X-With-links-Summary","description":"Enable dedicated summary section for hyper links on the page.","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Links","description":"Link retention modes.\n\nSupported modes: \n- all: all links\n- none: no links\n- text: only link text\n- gpt-oss: gpt-oss link citation format `【{id}†.*】`\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Images","description":"Image retention modes.\n\nSupported modes: \n- all: all images\n- none: no images\n- alt: only alt text\n- all_p: all images and with generated alt text\n- alt_p: only alt text and with generated alt\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Media","description":"Media retention modes for video, audio, and embedded video iframes.\n\nSupported modes: \n- none: no media\n- text: plain label, e.g. `Video 1`\n- link: markdown link, e.g. `[Video 1](url)` (default)\n- image: markdown image syntax, e.g. `![Video 1](url)`\n- html: original HTML with irrelevant attributes (class, id, style, data-*, aria-*) stripped\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Preset","description":"Apply a preset configuration for common scenarios.\n\nSupported presets:\n- reader: optimized for display to human users\n- index: optimized for semantic indexing\n- research: optimized for academic/research AI agents\n- agent: optimized for day-to-day AI agents\n- spider: optimized for recursive site crawling\n\nPreset values are applied only to options not explicitly set by the caller.\n\n","in":"header","schema":{"type":"string"}},{"name":"X-With-Iframe","description":"Enable filling iframe contents into main. (violates standards)","in":"header","schema":{"type":"string"}},{"name":"X-With-Shadow-Dom","description":"Enable filling shadow dom contents into main. (violates standards)","in":"header","schema":{"type":"string"}},{"name":"X-Skip-Cert-Verification","description":"Enable skipping SSL certificate verification. (violates security best practices)","in":"header","schema":{"type":"string"}},{"name":"X-User-Agent","description":"Override User-Agent.\n\nSeveral special values: \n- browser: use the internal browser UA\n- auto: pass-through your UA if it starts with `Mozilla/5.0`, otherwise use the internal browser UA\n- inherit / pass-through: use the User-Agent from the request context if applicable\n- bot: Use a pre-defined bot User-Agent from this service\n- diversify: Use a diversified browser User-Agent\n\nOr specify your own user agent string.\n\nNote: anonymous users specifying a browser UA will have no effect and will fall back to the internal browser UA.\n\nDefault: browser","in":"header","schema":{"type":"string"}},{"name":"X-Timeout","description":"Specify timeout in seconds. Max 180.","in":"header","schema":{"type":"string"}},{"name":"X-Locale","description":"Specify browser locale for the page.","in":"header","schema":{"type":"string"}},{"name":"X-Referer","description":"Specify referer for the page.","in":"header","schema":{"type":"string"}},{"name":"X-Token-Budget","description":"Specify a budget in tokens.\n\nIf the resulting token cost exceeds the budget, the request is rejected.\n\nNote this parameter is ignored for the search endpoint.","in":"header","schema":{"type":"string"}},{"name":"X-Max-Tokens","description":"Trim the response content at a maximum number of tokens.","in":"header","schema":{"type":"string"}},{"name":"X-Assert-Status-Code","description":"Assert the HTTP status code of the crawled page. If the actual status code does not match the asserted one, the request is rejected with 422 Unprocessable Entity.","in":"header","schema":{"type":"string"}},{"name":"X-Respond-Timing","description":"Explicitly specify the respond timing. One of the following:\n\n- html: directly return unrendered HTML\n- visible-content: return immediately when any content becomes available\n- mutation-idle: wait for DOM mutations to settle and remain unchanged for at least 0.2s\n- resource-idle: wait for no additional resources that would affect page logic and content has SUCCEEDED loading in 0.5s\n- media-idle: wait for no additional resources, including media resources, has SUCCEEDED loading in 0.5s\n- network-idle: wait for full load of webpage, also known as networkidle0.\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Engine","description":"Specify the engine to use for crawling.\n\nSupported: browser, direct, cf-browser-rendering","in":"header","schema":{"type":"string"}},{"name":"X-Base","description":"Select base modes of relative URLs.\n\nSupported: initial, final","in":"header","schema":{"type":"string"}},{"name":"X-Remove-Overlay","description":"Specify whether to remove overlay elements from the page.","in":"header","schema":{"type":"string"}},{"name":"X-Detach-Invisibles","description":"Temporarily detach elements with computed `display:none` before snapshotting, then restore them.\n\nRequires the browser engine and disables caching.","in":"header","schema":{"type":"string"}},{"name":"X-Markdown-Chunking","description":"Opt-in markdown chunking.\n\nSupported values: \n- true\n- h1\n- h2\n- h3\n- h4\n- h5\n- structured\n- s1\n- s2\n- s3\n- s4\n- s5\n\nNote if you are expecting text return, the chunking is done by injecting character \\u001D\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Md-Heading-Style","description":"Heading style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: setext, atx","in":"header","schema":{"type":"string"}},{"name":"X-Md-Hr","description":"Hr text of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).","in":"header","schema":{"type":"string"}},{"name":"X-Md-Bullet-List-Marker","description":"Bullet list marker of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: -, +, *","in":"header","schema":{"type":"string"}},{"name":"X-Md-Em-Delimiter","description":"Em delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: _, *","in":"header","schema":{"type":"string"}},{"name":"X-Md-Strong-Delimiter","description":"Strong delimiter of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: **, __","in":"header","schema":{"type":"string"}},{"name":"X-Md-Link-Style","description":"Link style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: inlined, referenced, discarded","in":"header","schema":{"type":"string"}},{"name":"X-Md-Link-Reference-Style","description":"Link reference style of the generated markdown.\n\nThis is an option passed through to [Turndown](https://github.com/mixmark-io/turndown?tab=readme-ov-file#options).\n\nSupported: full, collapsed, shortcut, discarded","in":"header","schema":{"type":"string"}},{"name":"X-Page","description":"Steer which page to return for uploaded files (PDF, DOC, XLS, PPT, etc.).\n\n1-indexed; ignored when no file/PDF is uploaded.","in":"header","schema":{"type":"string"}},{"name":"X-Preload-Url","description":"URL to preload before scraping.\n\nIgnored when no URL is provided.","in":"header","schema":{"type":"string"}},{"name":"X-No-Service-Worker","description":"Disable service workers when running the browser.\n\nUseful for bypassing service-worker-based caching or interception.","in":"header","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/JinaEmbeddingsAuthDTO@0x0c"},{"$ref":"#/components/schemas/CrawlerOptions@0x27"},{"$ref":"#/components/schemas/GoogleSearchExplicitOperatorsDto@0x28"},{"type":"object","properties":{"type":{"allOf":[{"$ref":"#/components/schemas/enum@0x29"}],"default":"web","description":"- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"},"num":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"},"count":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"},"engine":{"allOf":[{"$ref":"#/components/schemas/enum@0x2a"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"},"provider":{"allOf":[{"$ref":"#/components/schemas/enum@0x2b"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"},"gl":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"},"hl":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"},"location":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"},"page":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"},"fallback":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"},"q":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"},"nfpr":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"}}}]}},"multipart/form-data":{"schema":{"allOf":[{"$ref":"#/components/schemas/JinaEmbeddingsAuthDTO@0x0c"},{"$ref":"#/components/schemas/CrawlerOptions@0x27"},{"$ref":"#/components/schemas/GoogleSearchExplicitOperatorsDto@0x28"},{"type":"object","properties":{"type":{"allOf":[{"$ref":"#/components/schemas/enum@0x29"}],"default":"web","description":"- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"},"num":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"},"count":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"},"engine":{"allOf":[{"$ref":"#/components/schemas/enum@0x2a"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"},"provider":{"allOf":[{"$ref":"#/components/schemas/enum@0x2b"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"},"gl":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"},"hl":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"},"location":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"},"page":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"},"fallback":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"},"q":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"},"nfpr":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"}}}]}},"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"preloadUrl":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"noServiceWorker":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"html":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"base":{"allOf":[{"$ref":"#/components/schemas/enum@0x0e"}],"default":"initial","description":"- Cast to: &lt; **&quot;initial&quot; | &quot;final&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;initial&#39;"},"pdf":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/FancyFile@0x0f"}]},{"type":"string"}],"summary":"Base64 encoded PDF.","description":"Base64 encoded PDF.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"file":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/FancyFile@0x0f"}]},{"type":"string"}],"summary":"Base64 encoded file.","description":"Base64 encoded file.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"page":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*"},"respondWith":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/enum@0x10"}]},{"type":"string"}],"default":"content","description":"- Cast to: &lt; **&quot;content&quot; | &quot;markdown&quot; | &quot;html&quot; | &quot;text&quot; | &quot;pageshot&quot; | &quot;screenshot&quot; | &quot;vlm&quot; | &quot;readerlm-v2&quot; | &quot;frontmatter&quot; | &quot;readability&quot; | &quot;...|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;content&#39;"},"withGeneratedAlt":{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}],"description":"- Cast to: &lt; **PseudoBoolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"retainImages":{"allOf":[{"$ref":"#/components/schemas/enum@0x12"}],"default":"all","description":"- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;alt&quot; | &quot;all_p&quot; | &quot;alt_p&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"},"retainMedia":{"allOf":[{"$ref":"#/components/schemas/enum@0x13"}],"default":"link","description":"- Cast to: &lt; **&quot;none&quot; | &quot;text&quot; | &quot;link&quot; | &quot;image&quot; | &quot;html&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;link&#39;"},"preset":{"allOf":[{"$ref":"#/components/schemas/enum@0x14"}],"description":"- Cast to: &lt; **&quot;reader&quot; | &quot;index&quot; | &quot;research&quot; | &quot;agent&quot; | &quot;spider&quot; | &quot;ocr&quot; | &quot;ocr+&quot; | &quot;ocr++&quot; | &quot;pdf&quot; | &quot;pdf+&quot; | &quot;pdf++&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"retainLinks":{"allOf":[{"$ref":"#/components/schemas/enum@0x15"}],"default":"all","description":"- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;text&quot; | &quot;gpt-oss&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"},"withLinksSummary":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"withImagesSummary":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"noCache":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"removeOverlay":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"detachInvisibles":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"noGfm":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"cacheTolerance":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"targetSelector":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"},"waitForSelector":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"},"removeSelector":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"},"keepImgDataUrl":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"withIframe":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"withShadowDom":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"skipCertVerification":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"setCookies":{"description":"- Cast to: &lt; **Array&lt;object|string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","oneOf":[{"description":"Can be any value - string, number, boolean, array or object.","nullable":true},{"type":"string"}]},"exportStorageState":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"proxyUrl":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"proxy":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"userAgent":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"engine":{"allOf":[{"$ref":"#/components/schemas/enum@0x2a"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"},"injectPageScript":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"},"injectFrameScript":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"},"timeout":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt; 0 &amp;&amp; v &lt;= 180"},"locale":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"referer":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"tokenBudget":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"assertStatusCode":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"instruction":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"jsonSchema":{"description":"Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","nullable":true},"robotsTxt":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"doNotTrack":{"description":"Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","nullable":true},"respondTiming":{"allOf":[{"$ref":"#/components/schemas/enum@0x25"}],"description":"- Cast to: &lt; **&quot;html&quot; | &quot;visible-content&quot; | &quot;mutation-idle&quot; | &quot;resource-idle&quot; | &quot;media-idle&quot; | &quot;network-idle&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"markdownChunking":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/enum@0x26"}]},{"type":"string"}],"description":"- Cast to: &lt; **&quot;true&quot; | &quot;h1&quot; | &quot;h2&quot; | &quot;h3&quot; | &quot;h4&quot; | &quot;h5&quot; | &quot;structured&quot; | &quot;s1&quot; | &quot;s2&quot; | &quot;s3&quot; | &quot;s4&quot; | &quot;s5&quot;|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"},"maxTokens":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 500"},"ext":{"summary":"Returns web pages with a specific file extension. Example: to find the Honda GX120 Owner’s manual in PDF, type “Honda GX120 ownners manual ext:pdf”.","description":"Returns web pages with a specific file extension. Example: to find the Honda GX120 Owner’s manual in PDF, type “Honda GX120 ownners manual ext:pdf”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"},"filetype":{"summary":"Returns web pages created in the specified file type. Example: to find a web page created in PDF format about the evaluation of age-related cognitive changes, type “evaluation of age cognitive changes filetype:pdf”.","description":"Returns web pages created in the specified file type. Example: to find a web page created in PDF format about the evaluation of age-related cognitive changes, type “evaluation of age cognitive changes filetype:pdf”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"},"intitle":{"summary":"Returns webpages containing the specified term in the title of the page. Example: to find pages about SEO conferences making sure the results contain 2023 in the title, type “seo conference intitle:2023”.","description":"Returns webpages containing the specified term in the title of the page. Example: to find pages about SEO conferences making sure the results contain 2023 in the title, type “seo conference intitle:2023”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"},"loc":{"summary":"Returns web pages written in the specified language. The language code must be in the ISO 639-1 two-letter code format. Example: to find information on visas only in Spanish, type “visas lang:es”.","description":"Returns web pages written in the specified language. The language code must be in the ISO 639-1 two-letter code format. Example: to find information on visas only in Spanish, type “visas lang:es”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"},"site":{"summary":"Returns web pages coming only from a specific web site. Example: to find information about Goggles only on Brave pages, type “goggles site:brave.com”.","description":"Returns web pages coming only from a specific web site. Example: to find information about Goggles only on Brave pages, type “goggles site:brave.com”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"},"type":{"allOf":[{"$ref":"#/components/schemas/enum@0x29"}],"default":"web","description":"- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *search*\n\n- Defaults to: &#39;web&#39;"},"num":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"},"count":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"},"provider":{"allOf":[{"$ref":"#/components/schemas/enum@0x2b"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *search*"},"gl":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"},"hl":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"},"location":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"},"fallback":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"},"q":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *search*"},"nfpr":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *search*"}}}}}},"responses":{"200":{"description":"OK","content":{"text/plain; charset=utf-8":{"schema":{"type":"string"}},"application/json":{"schema":{"title":"ReaderEnvelopeWrappedArray<FormattedPageDto@0x0b>","type":"object","properties":{"code":{"type":"number","summary":"Envelope code.\n\nMirror of HTTP status code","description":"[REQUIRED]\n\nEnvelope code.\n\nMirror of HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 200","default":200},"status":{"type":"number","summary":"Envelope status.\n\nIn extension to HTTP status code","description":"[REQUIRED]\n\nEnvelope status.\n\nIn extension to HTTP status code\n\n- Cast to: &lt; **number** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;\n\n- Defaults to: 20000","default":20000},"data":{"allOf":[{"$ref":"#/components/schemas/Array<FormattedPageDto@0x0b>@0x33"}],"summary":"The result payload you expect","description":"The result payload you expect\n\n- Cast to: &lt; **Array&lt;FormattedPageDto@0x0b&gt;** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;"},"meta":{"description":"The metadata that the payload sometimes came with\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;ReaderEnvelope&gt;","nullable":true,"summary":"The metadata that the payload sometimes came with"}},"required":["code","status"],"primitive":true}},"text/event-stream":{"schema":{"allOf":[{"$ref":"#/components/schemas/OutputServerEventStream@0x34"}]}}},"headers":{}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ParamValidationError@0x35"}]}}},"headers":{}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/AuthenticationFailedError@0x36"}]},{"allOf":[{"$ref":"#/components/schemas/AuthenticationRequiredError@0x37"}]}]}}},"headers":{}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/InsufficientBalanceError@0x38"}]}}},"headers":{}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/AbuseAlleviationError@0x39"}]}}},"headers":{}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/AssertionFailureError@0x3a"}]}}},"headers":{}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/RateLimitTriggeredError@0x3b"}]}}},"headers":{}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/DownstreamServiceError@0x3c"}]}}},"headers":{}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ServiceBadAttemptError@0x3d"}]}}},"headers":{}}},"summary":"search"}},"/search":{"get":{"tags":["search"],"parameters":[{"name":"url","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"preloadUrl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noServiceWorker","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"html","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"base","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x0e"}],"default":"initial","description":"- Cast to: &lt; **&quot;initial&quot; | &quot;final&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;initial&#39;"}},{"name":"pdf","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/FancyFile@0x0f"}]},{"type":"string"}],"summary":"Base64 encoded PDF.","description":"Base64 encoded PDF.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"file","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/FancyFile@0x0f"}]},{"type":"string"}],"summary":"Base64 encoded file.","description":"Base64 encoded file.\n\n- Cast to: &lt; **FancyFile|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"page","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*"}},{"name":"respondWith","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/enum@0x10"}]},{"type":"string"}],"default":"content","description":"- Cast to: &lt; **&quot;content&quot; | &quot;markdown&quot; | &quot;html&quot; | &quot;text&quot; | &quot;pageshot&quot; | &quot;screenshot&quot; | &quot;vlm&quot; | &quot;readerlm-v2&quot; | &quot;frontmatter&quot; | &quot;readability&quot; | &quot;...|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;content&#39;"}},{"name":"withGeneratedAlt","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}],"description":"- Cast to: &lt; **PseudoBoolean** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"retainImages","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x12"}],"default":"all","description":"- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;alt&quot; | &quot;all_p&quot; | &quot;alt_p&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"}},{"name":"retainMedia","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x13"}],"default":"link","description":"- Cast to: &lt; **&quot;none&quot; | &quot;text&quot; | &quot;link&quot; | &quot;image&quot; | &quot;html&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;link&#39;"}},{"name":"preset","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x14"}],"description":"- Cast to: &lt; **&quot;reader&quot; | &quot;index&quot; | &quot;research&quot; | &quot;agent&quot; | &quot;spider&quot; | &quot;ocr&quot; | &quot;ocr+&quot; | &quot;ocr++&quot; | &quot;pdf&quot; | &quot;pdf+&quot; | &quot;pdf++&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"retainLinks","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x15"}],"default":"all","description":"- Cast to: &lt; **&quot;none&quot; | &quot;all&quot; | &quot;text&quot; | &quot;gpt-oss&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Defaults to: &#39;all&#39;"}},{"name":"withLinksSummary","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withImagesSummary","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noCache","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"removeOverlay","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"detachInvisibles","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"noGfm","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"cacheTolerance","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"targetSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"waitForSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"removeSelector","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"keepImgDataUrl","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withIframe","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/PseudoBoolean@0x11"}]},{"type":"string"}],"description":"- Cast to: &lt; **PseudoBoolean|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"withShadowDom","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"skipCertVerification","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"setCookies","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;object|string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","oneOf":[{"description":"Can be any value - string, number, boolean, array or object.","nullable":true},{"type":"string"}]}},{"name":"exportStorageState","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/PseudoBooleanLoose@0x0d"}],"description":"- Cast to: &lt; **PseudoBooleanLoose** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"proxyUrl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"proxy","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"userAgent","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"engine","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x2a"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"}},{"name":"injectPageScript","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"injectFrameScript","in":"query","schema":{"description":"- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","type":"string"}},{"name":"timeout","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt; 0 &amp;&amp; v &lt;= 180"}},{"name":"locale","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"referer","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"tokenBudget","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"assertStatusCode","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"instruction","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"jsonSchema","in":"query","schema":{"description":"Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","nullable":true}},{"name":"robotsTxt","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"doNotTrack","in":"query","schema":{"description":"Can be any value - string, number, boolean, array or object.\n\n- Cast to: &lt; **object** &gt;\n\n- Member of &lt;CrawlerOptions&gt;","nullable":true}},{"name":"respondTiming","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x25"}],"description":"- Cast to: &lt; **&quot;html&quot; | &quot;visible-content&quot; | &quot;mutation-idle&quot; | &quot;resource-idle&quot; | &quot;media-idle&quot; | &quot;network-idle&quot;** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"markdownChunking","in":"query","schema":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/enum@0x26"}]},{"type":"string"}],"description":"- Cast to: &lt; **&quot;true&quot; | &quot;h1&quot; | &quot;h2&quot; | &quot;h3&quot; | &quot;h4&quot; | &quot;h5&quot; | &quot;structured&quot; | &quot;s1&quot; | &quot;s2&quot; | &quot;s3&quot; | &quot;s4&quot; | &quot;s5&quot;|string** &gt;\n\n- Member of &lt;CrawlerOptions&gt;"}},{"name":"maxTokens","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Member of &lt;CrawlerOptions&gt;\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 500"}},{"name":"ext","in":"query","schema":{"summary":"Returns web pages with a specific file extension. Example: to find the Honda GX120 Owner’s manual in PDF, type “Honda GX120 ownners manual ext:pdf”.","description":"Returns web pages with a specific file extension. Example: to find the Honda GX120 Owner’s manual in PDF, type “Honda GX120 ownners manual ext:pdf”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"filetype","in":"query","schema":{"summary":"Returns web pages created in the specified file type. Example: to find a web page created in PDF format about the evaluation of age-related cognitive changes, type “evaluation of age cognitive changes filetype:pdf”.","description":"Returns web pages created in the specified file type. Example: to find a web page created in PDF format about the evaluation of age-related cognitive changes, type “evaluation of age cognitive changes filetype:pdf”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"intitle","in":"query","schema":{"summary":"Returns webpages containing the specified term in the title of the page. Example: to find pages about SEO conferences making sure the results contain 2023 in the title, type “seo conference intitle:2023”.","description":"Returns webpages containing the specified term in the title of the page. Example: to find pages about SEO conferences making sure the results contain 2023 in the title, type “seo conference intitle:2023”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"loc","in":"query","schema":{"summary":"Returns web pages written in the specified language. The language code must be in the ISO 639-1 two-letter code format. Example: to find information on visas only in Spanish, type “visas lang:es”.","description":"Returns web pages written in the specified language. The language code must be in the ISO 639-1 two-letter code format. Example: to find information on visas only in Spanish, type “visas lang:es”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"site","in":"query","schema":{"summary":"Returns web pages coming only from a specific web site. Example: to find information about Goggles only on Brave pages, type “goggles site:brave.com”.","description":"Returns web pages coming only from a specific web site. Example: to find information about Goggles only on Brave pages, type “goggles site:brave.com”.\n\n- Cast to: &lt; **Array&lt;string&gt;** &gt;\n\n- Member of &lt;GoogleSearchExplicitOperatorsDto&gt;","type":"string"}},{"name":"type","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x29"}],"default":"web","description":"- Cast to: &lt; **&quot;web&quot; | &quot;images&quot; | &quot;news&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Defaults to: &#39;web&#39;"}},{"name":"num","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"}},{"name":"count","in":"query","schema":{"type":"number","description":"- Cast to: &lt; **number** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; v &gt;= 0 &amp;&amp; v &lt;= 20"}},{"name":"provider","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/enum@0x2b"}],"description":"- Cast to: &lt; **&quot;google&quot; | &quot;bing&quot; | &quot;reader&quot;** &gt;\n\n- Endpoint parameter of *searchIndex*"}},{"name":"gl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; WORLD_COUNTRY_CODES.includes(v?.toLowerCase())"}},{"name":"hl","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*\n\n- Some validators will be applied on value(s): (v) =&gt; serper_search_2.WORLD_LANGUAGES.some(l =&gt; l.code === v)"}},{"name":"location","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"}},{"name":"fallback","in":"query","schema":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"}},{"name":"q","in":"query","schema":{"type":"string","description":"- Cast to: &lt; **string** &gt;\n\n- Endpoint parameter of *searchIndex*"}},{"name":"nfpr","in":"query","schema":{"type":"boolean","description":"- Cast to: &lt; **boolean** &gt;\n\n- Endpoint parameter of *searchIndex*"}},{"name":"Authorization","description":"Jina Token for authentication.\n\n- Member of &lt;JinaEmbeddingsAuthDTO&gt;\n\n- Authorization: Bearer {YOUR_JINA_TOKEN}","in":"header","schema":{"anyOf":[{"type":"string","format":"token"}]}},{"name":"Accept","description":"Specifies your preference for the response format.\n\nSupported formats: \n- text/event-stream\n- application/json or text/json\n- text/plain","in":"header","schema":{"type":"string"}},{"name":"X-Cache-Tolerance","description":"Sets internal cache tolerance in seconds if this header is specified with a integer.","in":"header","schema":{"type":"string"}},{"name":"X-No-Cache","description":"Ignores internal cache if this header is specified with a value.\n\nEquivalent to X-Cache-Tolerance: 0","in":"header","schema":{"type":"string"}},{"name":"X-Respond-With","description":"Specifies the (non-default) form of the crawled data you prefer.\n\nSupported formats: \n- markdown\n- html\n- text\n- pageshot\n- screenshot\n- content\n- frontmatter\n- any combination of the above\n- vlm\n- jina-ocr-v1\n- jina-ocr\n- readerlm-v2\n\n\nDefault: content\n","in":"header","schema":{"type":"string"}},{"name":"X-Wait-For-Selector","description":"Specifies a CSS selector to wait for the appearance of such an element before returning.\n\nExample: `X-Wait-For-Selector: .content-block`\n","in":"header","schema":{"type":"string"}},{"name":"X-Target-Selector","description":"Specifies a CSS selector for return target instead of the full html.\n\nImplies `X-Wait-For-Selector: (same selector)`","in":"header","schema":{"type":"string"}},{"name":"X-Remove-Selector","description":"Specifies a CSS selector to remove elements from the full html.\n\nExample `X-Remove-Selector: nav`","in":"header","schema":{"type":"string"}},{"name":"X-Keep-Img-Data-Url","description":"Keep data-url as it instead of transforming them to object-url. (Only applicable when targeting markdown format)\n\nExample `X-Keep-Img-Data-Url: true`","in":"header","schema":{"type":"string"}},{"name":"X-Proxy-Url","description":"Specifies your custom proxy if you prefer to use one.\n\nSupported protocols: \n- http\n- https\n- socks4\n- socks5\n\nFor authentication, https://user:pass@host:port","in":"header","schema":{"type":"string"}},{"name":"X-Proxy","description":"Use a proxy server provided by us.\n\nOptionally specify two-letter country code.","in":"header","schema":{"type":"string"}},{"name":"X-Robots-Txt","description":"Load and conform to the respective robot.txt on the target origin.\n\nOptionally specify a bot UA to check against.\n\n","in":"header","schema":{"type":"string"}},{"name":"DNT","description":"When set to 1, prevent the result of this request to be cached in the system.\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Set-Cookie","description":"Sets cookie(s) to the headless browser for your request. \n\nSyntax is the same with standard Set-Cookie","in":"header","schema":{"type":"string"}},{"name":"X-Export-Storage-State","description":"Export the browser storage state (cookies and per-origin localStorage) accumulated during the crawl.\n\nWhen enabled, the JSON response includes a `storageState` field whose shape mirrors the `storageState` request option, so it can be fed back into a subsequent request.\n\nRequires the browser engine and disables caching.","in":"header","schema":{"type":"string"}},{"name":"X-With-Generated-Alt","description":"Enable automatic alt-text generating for images without an meaningful alt-text.\n\nNote: Does not work when `X-Respond-With` is specified","in":"header","schema":{"type":"string"}},{"name":"X-With-Images-Summary","description":"Enable dedicated summary section for images on the page.","in":"header","schema":{"type":"string"}},{"name":"X-With-links-Summary","description":"Enable dedicated summary section for hyper links on the page.","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Links","description":"Link retention modes.\n\nSupported modes: \n- all: all links\n- none: no links\n- text: only link text\n- gpt-oss: gpt-oss link citation format `【{id}†.*】`\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Images","description":"Image retention modes.\n\nSupported modes: \n- all: all images\n- none: no images\n- alt: only alt text\n- all_p: all images and with generated alt text\n- alt_p: only alt text and with generated alt\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Retain-Media","description":"Media retention modes for video, audio, and embedded video iframes.\n\nSupported modes: \n- none: no media\n- text: plain label, e.g. `Video 1`\n- link: markdown link, e.g. `[Video 1](url)` (default)\n- image: markdown image syntax, e.g. `![Video 1](url)`\n- html: original HTML with irrelevant attributes (class, id, style, data-*, aria-*) stripped\n\n","in":"header","schema":{"type":"string"}},{"name":"X-Preset","description":"Apply a preset configuration for common scenarios.\n\nSupported presets:\n- reader: optimized for display to human users\n- index: optimized for semantic indexing\n- research: optimized for academic/research AI agents\n- agent: optimized for day-to-day AI agents\n- spider: optimized for recursive site crawling\n\nPreset values are applied only to options not explicitly set by the caller.\n\n","in":"header","schema":{"type":"string"}},{"name":"X-With-Iframe","description":"Enable filling iframe contents into main. (violates standards)","in":"header","schema":{"type":"string"}},{"name":"X-With-Shadow-Dom","description":"Enable filling shadow dom contents into main. (violates standards)","in":"header","schema":{"type":"string"}},{"name":"X-Skip-Cert-Verification","description":"Enable skipping SSL certificate verification. (violates security best practices)","in":"header","schema":{"type":"string"}},{"name":"X-User-Agent","description":"Override User-Agent.\n\nSeveral special values: \n- browser: use the internal browser UA\n- auto: pass-through your UA if it starts with `Mozilla/5.0`, otherwise use the internal browser UA\n- inherit / pass-through: use the User-Agent from the request context if applicable\n- bot: Use a pre-defined bot User-Agent from this service\n- diversify: Use a diversified browser User-Agent\n\nOr specify your own user agent string.\n\nNote: anonymous users specifying a browser UA will have no effect and will fall back to the internal browser U
[...]
